html {
  background: url(images/dog_and_cat_pattern-18.jpg);
  background-repeat: repeat;
  background-size: cover;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

header {
  color: white;
  background-color: black;
  opacity: 75%;
  padding: 2%;
  margin: 10%;
  margin-bottom: 0;
}

main {
  color: black;
  background-color: white;
  opacity: 90%;
  padding: 4%;
  margin: 10%;
  margin-top: 0;
}

form input[type=radio] {
  padding-right: 10px;
}

form label {
  font-size: 14px;
}

form {
  padding: 10px;
}

.status-container {
  font-size: 18px;
  font-weight: bolder;
  color: gray;
}

.question-counter, .correct-answer-counter {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}